@model DOMINGOROOFWORKSCLDV6211.Models.InvoiceInfo
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>INVOICE DETAILS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobCard_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobCard_NO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobType_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobType_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee_Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materials_Used)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Materials_Used)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DailyRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.No_Of_Days)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.No_Of_Days)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>
</div>

<div class="form-group">
    <input type="submit" value="Update" class="btn btn-info" />
</div>

<div>
    <a asp-action="Index" class="btn btn-dark">Cancel</a>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobCard_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}





